.image
  width: 100%

.bigImage
  max-width: 500px
  display: block
  margin: 0 auto 20px

.externalContainer
  text-align: center

.externalLink
  display: inline-block
  margin: 10px auto 20px
  font-size: 20px
  font-weight: 700